{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 9"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-remove-strict-mode",
    ["babel-plugin-transform-react-jsx", {
      "pragma": "h"
    }]
  ]
}